.list-book{
    justify-content: center;
    overflow: hidden !important; 
}

h2{
    margin: 20px !important;
}

.list-book .card{
 margin-left: 20px !important;
 margin-right: 20px !important;
}

.list-book .card-img-top{
    height: 180px;
}